site_name: My Course Slides & Notes
site_url: https://sayangoswami.github.io/Teaching/
docs_dir: Notes
theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  font:
    text: Atkinson Hyperlegible Next
    code: Atkinson Hyperlegible Mono
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.tracking
    - navigation.path
    - toc.follow
    - toc.integrate
    - search.suggest
    - search.highlight

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js