site_name: My Course Slides & Notes
site_url: https://sayangoswami.github.io/Teaching/
docs_dir: Notes
theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  features:
    - navigation.sections
    - search.suggest
